.CallToAction {
    height: 150vh;
    background-color: var(--mainBackground);
    text-align: center;
    padding:4rem 6rem;
    font-weight: 700;
    
}

.CallToAction h2 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.CallToAction p {
    color: rgb(105, 104, 104);
}
.signing__up {
    background: var(--DarkBlueColor);
    width: 100%;
    padding: 3rem;
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
    border-radius: 10px;
}

.signing__up .input__p {
    width: 100%;
    text-align: start;
    font-size: 1.1rem;
    padding: 0.5rem;
    color: var(--mainBackground);
}

.placeholder{
    color: var(--mainBackground);
    background-color: rgb(110, 98, 240);
    height: 10vh;
    width: 40vw;
    border: none;
    text-align: center;
}

.signing__up {
    background: var(--DarkBlueColor);
    width: 78vw;
    height: 45vh;
    border-radius: 10px;
    font-weight: bolder;
    display: inline-block;
}



.input__div button {
    padding: 01.1em 0.8rem;
    border-radius: 10px;
    margin: 0rem 0 0 0rem ;
    border: none;
    width: 12vw;
    height:10vh;
    cursor: pointer;
    display: inline-block;
}

::placeholder {
    color: white;
}

.CallToAction .ios{
    display: inline-block;
    background-color: var(--BlackColor);
    width: 11rem;
    height: 18vh;
    padding: 0.5rem;
    color: var(--mainBackground);
    border-radius: 10px;
    cursor: pointer;
}


.CallToAction .android {
    display: inline-block;
    background-color: var(--BlackColor);
    width: 11rem;
    height: 12vh;
    padding: 0.5rem;
    color: var(--mainBackground);
    border-radius: 10px;
    cursor: pointer;
}

.CallToAction .fa-apple{
    font-size: 2.5rem;
}

.CallToAction .fa-google-play{
    font-size: 2.5rem;
}

@media screen and (max-width:1024px){
    .CallToAction {
        height: 60vh;
        background-color: var(--mainBackground);
        text-align: center;
        padding:4rem 6rem;
        font-weight: 700;
        
    }
    
    .CallToAction h2 {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    .CallToAction p {
        color: rgb(105, 104, 104);
    }
    .signing__up {
        background: var(--DarkBlueColor);
        width: 100%;
        padding: 3rem;
        display: grid;
        align-items: center;
        grid-template-columns: 30% 70%;
        border-radius: 10px;
    }
    
    .signing__up .input__p {
        width: 100%;
        text-align: start;
        font-size: 1.1rem;
        padding: 0.5rem;
        color: var(--mainBackground);
    }
    
    .placeholder{
        color: var(--mainBackground);
        background-color: rgb(110, 98, 240);
        height: 4vh;
        width: 40vw;
        border: none;
    }
    
    .signing__up {
        background: var(--DarkBlueColor);
        width: 85vw;
        height: 19vh;
        border-radius: 10px;
        font-weight: bolder;
    }


    
    .input__div button {
        padding: 01.1em 0.8rem;
        border-radius: 10px;
        margin: 0rem 0 0 0rem ;
        border: none;
        width: 20vw;
        height: 4vh;
        cursor: pointer;
    }
    .CallToAction .ios{
        display: inline-block;
        background-color: var(--BlackColor);
        width: 12rem;
        height: 5vh;
        padding: 0.5rem;
        color: var(--mainBackground);
        border-radius: 10px;
    }


    .CallToAction .android {
        display: inline-block;
        background-color: var(--BlackColor);
        width: 10rem;
        height: 5vh;
        padding: 0.5rem;
        color: var(--mainBackground);
        border-radius: 10px;
    }

    .CallToAction .fa-apple{
        font-size: 2rem;
    }
    
    .CallToAction .fa-google-play{
        font-size: 2rem;
    }

}


@media screen and (max-width:480px){
    .CallToAction {
        height: 150vh;
        background-color: var(--mainBackground);
        text-align: center;
        padding:0rem 1rem;
        font-weight: 700;
        font-size: 1rem;
        
    }
    
    .CallToAction h2 {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 0.5rem;
    }
    
    .CallToAction p {
        color: rgb(105, 104, 104);
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
    .signing__up {
        background: var(--DarkBlueColor);
        width: 100%;
        height: 30%;
        padding: 40%  0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 10px;
    }
    
    .signing__up .input__p {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        padding: 0.2rem;
        color: var(--mainBackground);
    }
    
    .placeholder{
        color: var(--mainBackground);
        background-color: rgb(110, 98, 240);
        height: 10vh;
        width: 80vw;
        border: none;
        border-radius: 10px;
        text-align: center;
    }

    
    .signing__up {
        background: var(--DarkBlueColor);
        width: 90vw;
        height: 65vh;
        border-radius: 10px;
        font-weight: bolder;
    }


    
    .input__div button {
        padding: 01.1em 0.8rem;
        border-radius: 10px;
        margin: 0.5rem 0 0 0rem ;
        border: none;
        width: 40vw;
        height: 6vh;
        cursor: pointer;
    }

    .CallToAction .ios{
        display: inline-block;
        background-color: var(--BlackColor);
        width: 12rem;
        height: 8vh;
        padding: 0.5rem;
        color: var(--mainBackground);
        border-radius: 10px;
    }


    .CallToAction .android {
        display: inline-block;
        background-color: var(--BlackColor);
        width: 10rem;
        height: 8vh;
        padding: 0.5rem;
        color: var(--mainBackground);
        border-radius: 10px;
    }

    .CallToAction .fa-apple{
        font-size: 1.7rem;
    }
    
    .CallToAction .fa-google-play{
        font-size: 1.7rem;
    }


    
}