.CallToAction {
    height: 150vh;
    background-color: var(--mainBackground);
    text-align: center;
    padding:4rem 6rem;
    font-weight: 700;
    
}

.CallToAction h2 {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.CallToAction p {
    color: rgb(105, 104, 104);
}
.signing__up {
    background: var(--DarkBlueColor);
    width: 100%;
    padding: 3rem;
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
    border-radius: 10px;
}

.signing__up .input__p {
    width: 100%;
    text-align: start;
    font-size: 1.1rem;
    padding: 0.5rem;
    color: var(--mainBackground);
}

.placeholder{
    color: var(--mainBackground);
    background-color: rgb(110, 98, 240);
    height: 10vh;
    width: 40vw;
    border: none;
    text-align: center;
}

.signing__up {
    background: var(--DarkBlueColor);
    width: 85vw;
    height: 45vh;
    border-radius: 10px;
    font-weight: bolder;
}



.input__div button {
    padding: 01.1em 0.8rem;
    text-transform: uppercase;
    border-radius: 10px;
    margin: 0rem 0 0 0rem ;
    border: none;
    width: 20vw;
    height:10vh;
    cursor: pointer;
}

@media screen and (max-width:1024px){
    .CallToAction {
        height: 70vh;
        background-color: var(--mainBackground);
        text-align: center;
        padding:4rem 6rem;
        font-weight: 700;
        
    }
    
    .CallToAction h2 {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    .CallToAction p {
        color: rgb(105, 104, 104);
    }
    .signing__up {
        background: var(--DarkBlueColor);
        width: 100%;
        padding: 3rem;
        display: grid;
        align-items: center;
        grid-template-columns: 30% 70%;
        border-radius: 10px;
    }
    
    .signing__up .input__p {
        width: 100%;
        text-align: start;
        font-size: 1.1rem;
        padding: 0.5rem;
        color: var(--mainBackground);
    }
    
    .placeholder{
        color: var(--mainBackground);
        background-color: rgb(110, 98, 240);
        height: 5vh;
        width: 40vw;
        border: none;
    }
    
    .signing__up {
        background: var(--DarkBlueColor);
        width: 85vw;
        height: 19vh;
        border-radius: 10px;
        font-weight: bolder;
    }


    
    .input__div button {
        padding: 01.1em 0.8rem;
        text-transform: uppercase;
        border-radius: 10px;
        margin: 0rem 0 0 0rem ;
        border: none;
        width: 20vw;
        height: 4vh;
        cursor: pointer;
    }
}


@media screen and (max-width:480px){
    .CallToAction {
        height: 180vh;
        background-color: var(--mainBackground);
        text-align: center;
        padding:1rem 2rem;
        font-weight: 700;
        
    }
    
    .CallToAction h2 {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    .CallToAction p {
        color: rgb(105, 104, 104);
    }
    .signing__up {
        background: var(--DarkBlueColor);
        width: 100%;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        border-radius: 10px;
    }
    
    .signing__up .input__p {
        width: 100%;
        text-align: start;
        font-size: 1.1rem;
        padding: 0.5rem;
        color: var(--mainBackground);
    }
    
    .placeholder{
        color: var(--mainBackground);
        background-color: rgb(110, 98, 240);
        height: 10vh;
        width: 80vw;
        border: none;
        border-radius: 10px;
        text-align: center;
    }
    
    .signing__up {
        background: var(--DarkBlueColor);
        width: 90vw;
        height: 65vh;
        border-radius: 10px;
        font-weight: bolder;
    }


    
    .input__div button {
        padding: 01.1em 0.8rem;
        text-transform: uppercase;
        border-radius: 10px;
        margin: 0rem 0 0 0rem ;
        border: none;
        width: 50vw;
        height: 7vh;
        cursor: pointer;
    }

    
}