.container {
   background-color: var(--mainBackground);
   height: 85vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 40% 30% 30%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    padding-left: 2rem;

 }

 .thisDiv1 {
    grid-column-start: 1;
    grid-row-start: 1;
 }

 .thisDiv11 {
    grid-column-start: 1;
    grid-row-start: 2;
 }

 .thisDiv2 {
    grid-column-start: 4;
    grid-row-start: 1;
 }
 .thisDiv22 {
    grid-column-start: 4;
    grid-row-start: 2;
 }

 .thisDiv3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
 }

 .linksFeed {
     font-size: 2rem;
     margin-right: 0.5rem;
 }

@media screen and (max-width:1024px){
   .container {
      background-color: var(--mainBackground);
      height: 40vh;
       display: grid;
       grid-template-columns: 20% 20% 20% 20%;
       grid-template-rows: 40% 30% 30%;
       grid-column-gap: 20px;
       grid-row-gap: 20px;
       justify-items: stretch;
       align-items: stretch;
       padding-left: 2rem;

    }
   
    .thisDiv1 {
       grid-column-start: 1;
       grid-row-start: 1;
    }
   
    .thisDiv11 {
       grid-column-start: 1;
       grid-row-start: 2;
    }
   
    .thisDiv2 {
       grid-column-start: 4;
       grid-row-start: 1;
    }
    .thisDiv22 {
       grid-column-start: 4;
       grid-row-start: 2;
    }
   
    .thisDiv3 {
       grid-column-start: 1;
       grid-column-end: 4;
       grid-row-start: 3;
    }
   
    .linksFeed {
        font-size: 2rem;
        margin-right: 1rem;
    }
   

}
@media screen and (max-width:480px){
   .container {
      background-color: var(--mainBackground);
      height: 90vh;
       display: grid;
       grid-template-columns: 20% 20% 20% 20%;
       grid-template-rows: 40% 30% 30%;
       grid-column-gap: 5px;
       grid-row-gap: 5px;
       justify-items: stretch;
       align-items: stretch;
       padding-left: 2rem;
    }
   
    .thisDiv1 {
       grid-column-start: 1;
       grid-row-start: 1;
    }
   
    .thisDiv11 {
       grid-column-start: 1;
       grid-row-start: 2;
    }
   
    .thisDiv2 {
       grid-column-start: 4;
       grid-row-start: 1;
    }

    .thisDiv22 {
       grid-column-start: 4;
       grid-row-start: 2;
    }
   
    .thisDiv3 {
       grid-column-start: 1;
       grid-column-end: 4;
       grid-row-start: 3;
    }
   
    .linksFeed {
        font-size: 2rem;
        margin-right: 1rem;
    }
   

}

