.footer {
    background-color: var(--mainBackground);
    text-align: center;
    padding:5rem;
    position: relative;
}

.copyright {
    position: absolute;
    bottom: 2%;
    left: 35%;
} 

@media screen and (max-width:1024px){
    .footer {
        background-color: var(--mainBackground);
        text-align: center;
        padding:5rem;
        position: relative;
    }
    
    .copyright {
        position: absolute;
        bottom: 2%;
        left: 35%;
    } 

    .footer p{
        font-size: 1rem;
    }
}

@media screen and (max-width:768px){
    .footer{
        padding:2rem;

    }

    .copyright {
        position: absolute;
        bottom: 2%;
        left: 25%;
    } 

}

@media screen and (max-width:480px){
    .footer {
        background-color: var(--mainBackground);
        text-align: center;
        padding:4rem;
        position: relative;
    }
    
    .copyright {
        position: absolute;
        bottom: 2%;
        left: 5%;
    } 

    .footer p{
        font-size: 0.9rem;
    }
}