.MenuBar {
    position: absolute;
    right: 0;
    top: 0;
    background:rgb(113, 206, 212);
    width: 0rem;
    height: 40%;
    /*z-index: 3;*/
    overflow: hidden;
    transition: 900ms;

}

.MenuBar.active {
    transition: 900ms;
    width: 50%;
}

.drop {
    text-align: center;
}

.drop li {
    display: block;
    text-align: start;
    color: rgb(17, 31, 34);
    font-size: 20px;
    padding: 0.5rem;

}

.MenuBar button {
    padding-top: 3%;
    margin-left:70% ;
    height: 3rem;
    border: none;
    background: transparent;
}
.right-menu {
    display: none
}


@media screen and (max-width:768px) {
    .right-menu {
        display: block;
        position: absolute;
        top: 2%;
        right: 5%;
        font-size: 1.5rem;
    }
}