.MenuBar {
    position: absolute;
    right: 0;
    top: 0;
    background:var(--mainBackground);
    width: 0rem;
    height: 40%;
    z-index: 3;
    overflow: hidden;
    transition: 1100ms;

}

.MenuBar.active {
    transition: 1100ms;
    width: 100%;
}

.drop {
    text-align: center;
}

.drop li {
    display: block;
    text-align: center;
    color: var(--DarkBlueColor);
    font-size: 20px;
    padding: 0.5rem;

}

.MenuBar .but{
    padding-top: 3%;
    margin-left:70% ;
    height: 4rem;
    border: none;
    background: transparent;
}

.closeButton {
    font-size: 2rem;
}
.right-menu {
    display: none
}

.btn-blue{
    width: 28vw;
    text-align: center;
    background-color:var(--DarkBlueColor);
    border-radius:5px ;
    border-spacing: 1rem;
    padding: 0.2rem;
}




@media screen and (max-width:768px) {
    .right-menu {
        display: block;
        position: absolute;
        top: 2%;
        right: 5%;
        font-size: 1.5rem;
    }
    .MenuBar {
        position: absolute;
        right: 0;
        top: 0;
        background:var(--mainBackground);
        width: 0rem;
        height: 40%;
        z-index: 3;
        overflow: hidden;
        transition: 1100ms;
    
    }
    
    .MenuBar.active {
        transition: 1100ms;
        width: 100%;
    }
    
    
    .drop ul {
        display: block;
        text-align: center;
        color: var(--DarkBlueColor);
        font-size: 20px;
        padding: 0.5rem;
    
    }
    
    .MenuBar .but {
        padding-top: 3%;
        margin-left:90% ;
        height: 4rem;
        border: none;
        background: transparent;
    }
    
    .closeButton {
        font-size: 2rem;
    }
   
    
    .btn-blue{
        width: 28vw;
        text-align: center;
        background-color:var(--DarkBlueColor);
        border-spacing: 1rem;
        border: none;
        padding: 0.2rem;
        color: var(--mainBackground);
        cursor: pointer;
    }
    
    
}