.services{
    height: 100vh;
    background-color: var(--mainBackground);
}


.security{  
    width:130px;
    padding-left: 40%;
    
}

.lock{
    color: var(--DarkBlueColor);
    font-size: 1rem;
}

.shape{
    color:var(--BlackColor);  
}

.mt-5 {
    text-align: center;
    padding: 2rem;
}
.mt-6{
    margin-top:80px;
}

.button-style{
  width:300px;
  height:80px;
 
}


@media screen and (max-width:1024px){

    
}









@media screen and (max-width:480px){


}


