.Wealth{
    height: 80vh;
    background-color: var(--SkyBlueColor);
}


@media screen and (max-width:1024px){
    .Wealth{
        height: 60vh;
        background-color: var(--SkyBlueColor);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 10%;
        padding-right: 2%;
    }

    .Wealth h1{
        color:var(--DarkBlueColor);
        font-weight: bolder;  
    }

    .Wealth h2{
        color: var(--BlackColor);
        font-weight: bold;
        margin-bottom: 2%;
    }
    
    .Wealth button{
        width: 18vw;
        height: 4vh;
        background-color: var(--BlackColor);
        color: var(--mainBackground);
        border: none;
        cursor: pointer;
    }
}


@media screen and (max-width:480px){
    .Wealth{
        height: 110vh;
        background-color: var(--SkyBlueColor);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 10%;
        padding-right: 2%;
    }

    .Wealth h1{
        color:var(--DarkBlueColor);
        font-weight: bolder;  
    }

    .Wealth h2{
        color: var(--BlackColor);
        font-weight: bold;
        margin-bottom: 2%;
    }
    
    .Wealth button{
        width: 60vw;
        height: 6vh;
        background-color: var(--BlackColor);
        color: var(--mainBackground);
        border: none;
        cursor: pointer;
    }

}