.introduction {
    display: block;
    text-align: center;
    margin: 5% 14% 0 14%;
    
    border-radius: 10px;
}
.introduction__title {
    color: rgba(32,62,134,255);
    text-align: center;
}

.introduction__upper {
    text-align: center;
    background-color: rgba(194,248,250,255);
    border-radius: 10px;
}
.introduction__upper section {
    text-align: center;
    color:rgba(51,65,74,255);
    font-weight: 600;
    font-size: 25px;
}

.btn__create-account {
    margin: 1.5rem 0;
    align-items: center;
    color: white;
    background-color: rgb(23, 23, 109);
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 10px;
}

.download-app {
    
    padding-bottom:3rem
}
.ios, .android {
    display: inline-block;
    background-color: rgb(27, 26, 26);
    width: 16rem;
    padding: 0.5rem;
    color: white;
    border-radius: 10px;
    

}
.ios {
    margin-right: 2rem;
}


.ios section {
    display: inline-block;
    color: white;
    text-align: left;
} 
.android section {
    display: inline-block;
    color: white;
}

.ios section span {
    display: block;
}

.android section span {
    display: block;
}
.lower-one {
   color: rgb(23, 23, 109);
   font-size: 28px;
   font-weight: 700;
}
.lower-two {
    color: rgb(166, 166, 187);
    font-size: 28px;
    font-weight: 500;
}