header {
    height: 8vh;
    background-color: var(--mainBackground);
}
.logo {
    display: inline-block;
    color: var(--DarkBlueColor) ;
    font-size: 1.4rem;
    font-weight: 700;
}

.logo__img {
    margin-top: -1rem;

}


.right {
    display: inline-block;
    margin-left: 43vw;
}

ul {
    list-style:none;
}
ul li {
    display: inline-block;
    margin-left: 1.5rem;
    color: rgba(32,62,134,255);
    font-weight: 600;
    font-size: 25px;
}

ul li a {
    text-decoration: none;
    color: var(--DarkBlueColor);
}

ul a:hover {
    text-decoration: underline;
}

.signup {
    width: 10vw;
    height: 7vh;
    text-align: center;
    background-color:var(--DarkBlueColor);
    border-radius:5px ;
    border-spacing: 1rem;
    padding: 0.2rem;
    
}
.signup a {
   color: var(--mainBackground); 
}
.signup :hover {
    text-decoration: none;
    width: 10rem;
    text-align: center;
}
