.introduction {
    display: flex;
    justify-content: center;
    margin: 0 10%;
    background-color: rgba(194,248,250,255);
}
.introduction__title {
    color: rgba(32,62,134,255);
    text-align: center;
}

.introduction__upper {
    text-align: center;

}
.introduction__upper section {
    text-align: center;
    color:rgba(51,65,74,255);
    font-weight: 600;
    font-size: 32px;
    padding: 0 25%;
    font-size: 20px;
}
.introduction__lower {

}
.btn__create-account {
    margin: 1.5rem 0;
    align-items: center;
    color: white;
    background-color: rgb(23, 23, 109);
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 20px;
}

.download-app {
    margin-bottom: 2rem;
    
}
.ios, .android {
    justify-content: center;
    align-items: center;
    display: inline-block;
    background-color: rgb(68, 66, 66);
    width: 15rem;
    height: 5rem;
    color: white;
    border-radius: 10px;

}
.ios {
    margin: 1rem;
}